[package]
name = "ghcid-ng"
version = "0.1.1"
edition = "2021"
authors = [
    "Rebecca Turner <rebeccat@mercury.com>"
]
description = "ghci-based file watcher and recompiler for Haskell projects"
readme = "README.md"
homepage = "https://github.com/MercuryTechnologies/ghcid-ng"
repository = "https://github.com/MercuryTechnologies/ghcid-ng"
license = "MIT"
keywords = ["haskell", "ghci", "watchexec"]
categories = ["command-line-utilities", "development-tools"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
aho-corasick = "1.0.2"
backoff = { version = "0.4.0", default-features = false }
camino = "1.1.4"
clap = { version = "4.3.2", features = ["derive", "wrap_help", "env"] }
humantime = "2.1.0"
itertools = "0.11.0"
miette = { version = "5.9.0", features = ["fancy"] }
nix = { version = "0.26.2", default_features = false, features = ["process"] }
once_cell = "1.18.0"
owo-colors = { version = "3.5.0", features = ["supports-colors"] }
shell-words = "1.1.0"
tap = "1.0.1"
textwrap = { version = "0.16.0", features = ["terminal_size"] }
time = { version = "0.3.22", features = ["formatting"] }
tokio = { version = "1.28.2", features = ["full", "tracing"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter", "time", "registry"] }
watchexec = "2.3.0"
watchexec-signals = "1.0.0"

[dev-dependencies]
expect-test = "1.4.0"
indoc = "1.0.6"
pretty_assertions = "1.2.1"

[lib]
path = "src/lib.rs"

# See: https://github.com/crate-ci/cargo-release/blob/master/docs/reference.md
[package.metadata.release]
# Don't tag commits
tag = false
# Don't do `git push`
push = false
# Don't do `cargo publish`
publish = false
